/* Estilos adicionales para Alert */
.alert {
  position: relative;
}

.alert-dismiss {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  line-height: 1;
  cursor: pointer;
  opacity: 0.7;
  padding: 0.25rem 0.5rem;
}

.alert-dismiss:hover {
  opacity: 1;
}

